
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');


*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}

$light-color: #070101;
$gray-color: #c4ccde;

.flex{
  display: flex;
}

.navbar {
  background-color: var(--light-color);
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--gray-color);
}

.sidebar {
  width: 14rem;
  height: calc(100vh - 52px);
  border-right: 2px solid $gray-color;

  ul{
    list-style: none;
    padding: 2rem 2rem;
    li{
      margin-bottom: 1rem;
      a{
        text-decoration: none;
        &.active {
          background-color: $gray-color;
        }
      }
    }
  }
}